:root {
  --blue: #3535ec;
  --green: #0adf71;
  --red: #f71668;
  --purple: #b444f5;
  --light-gray: #ededed;
  --yellow: #ffd700;
  --cyan: #03ffff;
}

h1 {
  color: var(--red);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-super-dark {
  background-color: black;
}

.card-img-wrapper {
  flex: 0 0 100px;
  overflow: hidden;
}

.card-body {
  flex: 1;
  min-width: 0;
}

.card-body * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.card-col {
  flex: 1 1 calc((100% - 2 * 1.5rem) / 3);
}

@media (max-width: 768px) {
  .card-col {
    flex: 1 1 calc((100% - 1.5rem) / 2);
  }
}

@media (max-width: 576px) {
  .card-col {
    flex: 1 1 100%;
  }
}